@model PetaPocoWebTest.Poco.Author

@{
    ViewBag.Title = "Delete";
}

<h2>Delete author : @Model.Name</h2>
<p>
    @Html.ActionLink("Home", "Index", "Home") - @Html.ActionLink("Back to list of authors", "Index")
</p>
<h3>Are you sure you want to delete this author?</h3>
<fieldset>
    <legend>Author</legend>
    
    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>

@{Html.RenderPartial( "ListArticlesByAuthor", Model.Articles, new ViewDataDictionary() { {"AuthorName", Model.Name}});}

@using (Html.BeginForm()) {
    <input type="hidden" name="authorId" value="@Model.Id" />
    <p>
        <input type="submit" value="Delete" />
    </p>
}


